nav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav ul li {
    margin-right: 80px;
    list-style-type: none;
}


.nav ul li a{
text-decoration: none;
    color: black;
font-family: 'Courier New';
font-weight: bold;
}
:active{
    text-decoration: underline;
    color: red
}
a.hover {
    text-decoration: underline;
    color:red
}
order now{
    color: chocolate;
}